
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  * {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;  
}
ul {
  margin: 0 !important;
  padding: 0 !important;
}

a,a:hover {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans', sans-serif;

  }
  

img {
  width: 100%;
  height: auto;
}


:root {
    --primary_color:#0771b9;
    --secondary_color:#5bc5f3;
    --pt_sans:'PT Sans', sans-serif;
}

.container {
  max-width: 75%;
  }

                      /* Menu Part Starts  */
.menu_part {
  background: #fcdb00;
} 

.menu {
  position: relative;
}
.collapse_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid #000;
  padding: 0 5px;
  border-radius: 5px;
  display: none;
}

.my_logo {
  width: 40px;
  height: 40px;
}
.menu_con_main p{
  margin: 5px;
  color: #000;
  font-weight: bold;
  font-size: 30px;
}


.hero_img_main {
  display: flex;
  justify-content: end;
  align-items: center;
}

.hero_img_main img {
width: 55%;
height: 65%;
margin-right: 25px;
}

.hero_con p {
  color: #555555;
}

.shape_1, .shape_2, .shape_3 {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  }

 .shape_2 {
  opacity: 0.7;
 }
 .shape_3 {
  opacity: 0.4;
 }

                      /* Menu Part Ends  */
         /* ------------------------------------------------ */
